.chat-input {
    display: flex;
    align-items: center;

    input {
        font-size: 14px;
    }

    &__send {
        cursor: pointer;
        margin-left: 10px;
        min-height: 36px;
        min-width: 36px;
        border-radius: 50%;
        background-color: #3674ff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 3px;

        &-icon {
            font-size: 20px;
            color: #fff !important;
            opacity: 0.75;
            transition: opacity 0.15s ease;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__suffix-icon {
        font-size: 22px;
        cursor: pointer;
        transition: opacity 0.1s ease;
        opacity: 0.75;

        &:hover {
            opacity: 1;
        }
    }
}