@import '~antd/dist/antd.css';

* {
    outline: none;
}

body {
    background-color: #f4f7fd;
}

body,
html,
#root,
.wrapper {
    height: 100%;
}

p {
    margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 7px;

    &-track {
        background-color: #e7e7e7;
        border-radius: 3px;
    }

    &-thumb {
        background-color: #c0c0c0;
        border-radius: 3px;
    }
}