.message {
    $self: &;

    &-inner {
        display: flex;
        max-width: 430px;
        margin-bottom: 13px;
    }

    &-user {
        margin-right: 10px;

        &__avatar {
            margin-bottom: 4px;

            img {
                width: 52px;
                height: 52px;
                border-radius: 17px;
                border: 2px dashed rgba(0, 0, 0, 0.5);
                padding: 2px;
                cursor: pointer;
            }
        }

        &__date {
            text-align: center;
            font-size: 13px;
            font-weight: 500;
            opacity: 0.8;
        }
    }

    &-content {
        &__name {
            font-weight: 500;
            margin-bottom: 3px;
            opacity: 0.9;
        }

        &__bubble {
            display: inline-block;
            background: #3674ff;
            box-shadow: 0 5px 5px rgba(54, 116, 255, 0.20);
            border-radius: 30px;
            padding: 8px 15px;
            margin-bottom: 8px;

            p {
                color: #fff;
            }
        }

        &__attachments {
            display: flex;

            &-item {
                img {
                    height: 43px;
                    width: 43px;
                    margin-right: 5px;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }
    }

    &--me {
        display: flex;
        flex-direction: row-reverse;

        #{$self}-inner {
            flex-direction: row-reverse;
        }

        #{$self}-user {
            margin-left: 10px;
            margin-right: 0;
        }

        #{$self}-content__name {
            text-align: right;
        }

        #{$self}-content__bubble {
            background: #fff;
            border: 1px solid #ececec;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);

            p {
                color: #000;
            }
        }

        #{$self}-content__attachments {
            flex-direction: row-reverse;
        }
    }

    &--image {
        #{$self}-content__attachments-item {
            img {
                width: 150px;
                height: 150px;
            }
        }
    }

    &--me.message--audio {
        #{$self}-content__bubble {
            background: #fff;
            border: 1px solid #ececec;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
        }

        #{$self}-inner {
            width: 100%;
        }

        #{$self}-audio__progress {
            background-color: #d1d1d2;
        }

        #{$self}-audio__info {
            &-btn {
                button {
                    background: #a8a9ab;
                }
            }

            &-duration {
                color: #000;
            }
        }
    }

    &--audio {
        #{$self}-inner {
            max-width: 320px;
        }

        #{$self}-content {
            width: 100%;
        }

        #{$self}-content__bubble {
            padding: 0;
            width: 100%;
            overflow: hidden;
            position: relative;
        }

        #{$self}-audio__progress {
            height: 37px;
            position: absolute;
            background-color: #2b5dc5;
            transition: width 0.5s ease;
        }

        #{$self}-audio__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1;
            position: relative;

            &-btn {
                button {
                    padding: 0;
                    width: 38px;
                    height: 37px;
                    border: none;
                    border-radius: 30px;
                    background: #1644a8;
                    cursor: pointer;
                }
            }

            &-wave {
                display: flex;
            }

            &-duration {
                padding-right: 10px;
                color: #fff;
                font-weight: 500;
                opacity: 0.8;
            }
        }
    }
}